<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>modulevitetest</name>
    <displayName><![CDATA[Module My Account]]></displayName>
    <version><![CDATA[0.1.0]]></version>
    <description><![CDATA[Include Module Universes into Prestashop account]]></description>
    <author><![CDATA[Manu]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Êtes-vous sûr de vouloir désinstaller ce module ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>